*{
    margin: 0%;
    padding: 0%;
}
.A{
    text-align: center;
    font-style: oblique;
    font-weight: 500;
    background-color: darkgray;
    color: black;
    height: 130px;
}
.B{
    display: flex;
}
.C{
    height: 300px;
    width: 25%;
    text-align: center;
    font-style: oblique;
    font-weight: 500;
    background-color: green;
    color: white
}
.D{
    height: 500px;
    width: 50%;
    text-align: center;
    font-style: oblique;
    font-weight: 500;
    background-color: skyblue;
    color: white
}
.E{
    height: 200px;
    width: 25%;
    text-align: center;
    font-style: oblique;
    font-weight: 500;
    background-color: olive;
    color: wheat
}